@media (min-width: 1280px) and (max-width: 1340px) {
    .Flash-sales-slider {
        /* border: 2px solid red; */
        max-width: 1200px;
        margin-left: auto;
        overflow: hidden;
    }

    .Flash-sales-slider .slider {
        /* border: 2px solid blue; */
        max-width: 1200px;
    }

    .Flash-sales-slider .slider .container {
        border: 2px solid green;
        max-width: 1200px;
    }

    .center-slider {
        /* border: 2px solid red; */
        max-width: 1100px;
        overflow: hidden;
    }

    .center-slider .slider {
        /* border: 2px solid blue; */
        max-width: 1100px;
    }

}




@media (min-width: 1170px) and (max-width: 1279px) {

    /* Top header */
    .top-header {
        border: 2px solid red;
        max-width: 200px;
        margin-left: auto;
        margin-right: 3%;
    }

    .top-header-content{
        border: 2px solid red;
        display: flex;
        width: 60%;
    }


    /* top slider */
    .top-slider {
        border: 2px solid blue;
        flex-direction: column;
        align-items: center;
    }


    /* side bar */
    .side-bar {
        border: 2px solid green;
        flex-direction: column;
        width: 85%;
        max-height: 65px;
        overflow-x: auto;
        overflow-x: hidden;
    }

    .side-bar ul {
        border: 2px solid blue;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: anchor-center;
        gap: 0px 0px;
        overflow-x: auto;
        scrollbar-width: none;
        display: flex;
        display: -webkit-inline-box;
    }

    .side-bar ul .women-fashion-li {
        border: 2px solid blue;
        width: 140px;
        margin-top: auto;
    }


    .side-bar ul li img {
        border: 2px solid blue;
        display: none;
    }

    .side-bar ul li{
        border: 2px solid red;
        padding: 3px;
        border-radius: 19px;
        cursor: pointer;
    }
    
    .side-bar ul li:hover {
        background-color: rgb(224, 222, 222);
        color: rgb(46, 46, 46);
    }
    .side-bar ul li a:hover {
        color: rgb(46, 46, 46);
    }


    /* flash sales slider */
    .Flash-sales-slider {
        border: 2px solid red;
        max-width: 1050px;
        margin-left: auto;
        overflow: hidden;
    }

    .Flash-sales-slider .slider {
        border: 2px solid blue;
        max-width: 1050px;
    }

    .Flash-sales-slider .slider .container {
        border: 2px solid green;
        max-width: 1080px;
    }


    /* center slider */
    .center-slider {
        border: 2px solid red;
        max-width: 1000px;
        overflow: hidden;
    }

    .center-slider .slider {
        border: 2px solid blue;
        max-width: 1000px;
    }

    .products-container {
        border: 2px solid red;
        max-width: 1000px;
    }

    .product-card {
        border: 2px solid blue;
        max-width: 225px;
    }

   
    .image-slider {
        width: 892px;
    }


    /* Category Enhance your music component */
    .category-enhance-your-music {
        border: 2px solid red;
        max-width: 1000px;
    }

    .category-enhance-your-music .category-left {
        border: 2px solid red;
        max-width: 380px;
        z-index: 1;
    }

    .category-enhance-your-music .category-right {
        border: 2px solid red;
        max-width: 530px;
    }


    /* Bottom components */
    .bottom-components-div {
        border: 2px solid red;
        max-width: 900px;
    }


    /* Footer */
    .footer {
        border: 2px solid red;
        max-width: 1000px;
    }

}





@media (min-width: 850px) and (max-width: 1169px) {
    hr{
        max-width: 100%;
    }

    /* Top header */
    .top-header {
        border: 2px solid red;
        max-width: 10%;
        margin-left: auto;
        margin-right: 3%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .top-header-content{
        border: 2px solid red;
        display: flex;
        width: 70%;
        justify-content: center;
    }

    /* top slider */
    .top-slider {
        border: 2px solid blue;
        flex-direction: column;
        align-items: center;
        /* width: 70%  ; */
    }


    .top-slider .slider{
        border: 2px solid blue;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        width: 80%;
    }


    /* side bar */
    .side-bar {
        border: 2px solid green;
        flex-direction: column;
        width: 85%;
        max-height: 65px;
        overflow-x: auto;
        overflow-x: hidden;
    }

    .side-bar ul {
        border: 2px solid blue;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: anchor-center;
        gap: 0px 0px;
        overflow-x: auto;
        scrollbar-width: none;
        display: flex;
        display: -webkit-inline-box;
    }

    .side-bar ul .women-fashion-li {
        border: 2px solid blue;
        width: 140px;
        margin-top: auto;
    }


    .side-bar ul li img {
        border: 2px solid blue;
        display: none;
    }

    .side-bar ul li{
        border: 2px solid red;
        padding: 3px;
        border-radius: 19px;
        cursor: pointer;
    }
    
    .side-bar ul li:hover {
        background-color: rgb(224, 222, 222);
        color: rgb(46, 46, 46);
    }
    .side-bar ul li a:hover {
        color: rgb(46, 46, 46);
    }


    /* flash sales slider */
    .Flash-sales-slider {
        border: 2px solid red;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .Flash-sales-slider .slider {
        border: 2px solid blue;
        max-width: 80%;
    }

    .Flash-sales-slider .slider .container {
        border: 2px solid green;
        max-width: 100%;
    }
    .main-container {
        /* width: 100vw;     */
         border: 2px solid green;
        
    }


    /* center slider */
    .center-slider {
        border: 2px solid red;
        width: 98vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .center-slider .slider {
        border: 2px solid blue;
        max-width: 80%;
    }

    .center-slider .slider .container {
        border: 2px solid green;
        max-width: 100%;
    }

    .products-container {
        border: 2px solid red;
        max-width: 80%;
    }

    .products-container .product-card{
        border: 2px solid red;
        max-width: 100%;
    }

    .new-arrival-component{
        border: 2px solid red;
        width: 80%;
    }

    .right-top-new-arrival-header{
        /* margin-left: 600px; */
        border: 2px solid red;
        margin-right: 90%;
    }

    .product-card {
        border: 2px solid red;
        /* max-width: 23%; */
        max-width: 220px;
        /* height: fit-content; */
        /* height: 60%; */
    }

    .slider-itemwidth-movement {
        transform: translateX(200px);
        /* need to do */
    }

    .image-slider {
        width: 892px;
    }


    /* Category Enhance your music component */
    .category-enhance-your-music {
        border: 2px solid red;
        max-width: 80%;
    }

    .category-enhance-your-music .category-left {
        border: 2px solid red;
        max-width: 30%;
        z-index: 1;
    }

    .category-enhance-your-music .category-right{
        border: 2px solid red;
        max-width: 60%;
    }

    .category-enhance-your-music .category-right img{
        /* border: 2px solid red; */
        max-width: 50%;
    }


    /* Bottom components */
    .bottom-components-div {
        border: 2px solid red;
        max-width: 80%;
    }

    .bottom-components-div .bottom-components {
        border: 2px solid red;
        max-width: 29%;
        text-align: center;
    }


    /* Footer */
    .footer {
        border: 2px solid red;
        max-width: 800px;
    }

}





@media (min-width: 600px) and (max-width: 849px) {
    hr{
        max-width: 100%;
    }

    /* Top header */
    .top-header {
        border: 2px solid red;
        max-width: 10%;
        margin-left: auto;
        margin-right: 3%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .top-header-content{
        border: 2px solid red;
        display: flex;
        width: 70%;
        justify-content: center;
    }


    /* top slider */
    .top-slider {
        border: 2px solid blue;
        flex-direction: column;
        align-items: center;
        /* width: 70%  ; */
        margin-bottom: -60px
    }


    .top-slider .slider{
        content-visibility: hidden;
    }


    /* side bar */
    .side-bar {
        border: 2px solid green;
        flex-direction: column;
        width: 85%;
        max-height: 65px;
        overflow-x: auto;
        overflow-x: hidden;
    }

    .side-bar ul {
        border: 2px solid blue;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: anchor-center;
        gap: 0px 0px;
        overflow-x: auto;
        scrollbar-width: none;
        display: flex;
        display: -webkit-inline-box;
    }

    .side-bar ul .women-fashion-li {
        border: 2px solid blue;
        width: 140px;
        margin-top: auto;
    }


    .side-bar ul li img {
        border: 2px solid blue;
        display: none;
    }

    .side-bar ul li{
        border: 2px solid red;
        padding: 3px;
        border-radius: 19px;
        cursor: pointer;
    }
    
    .side-bar ul li:hover {
        background-color: rgb(224, 222, 222);
        color: rgb(46, 46, 46);
    }
    .side-bar ul li a:hover {
        color: rgb(46, 46, 46);
    }


    /* flash sales slider */
    .Flash-sales-slider {
        border: 2px solid red;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .Flash-sales-slider .slider {
        border: 2px solid blue;
        max-width: 90%;
    }

    .Flash-sales-slider .slider .container {
        border: 2px solid green;
        max-width: 100%;
    }
    .main-container {
        /* width: 100vw;     */
         border: 2px solid green;
        
    }


    /* center slider */
    .center-slider {
        border: 2px solid red;
        width: 98vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .center-slider .slider {
        border: 2px solid blue;
        max-width: 80%;
    }

    .center-slider .slider .container {
        border: 2px solid green;
        max-width: 100%;
    }

    .products-container {
        border: 2px solid red;
        max-width: 80%;
    }

    .product-card {
        border: 2px solid red;
        /* max-width: 23%; */
        max-width: 220px;
        /* height: fit-content; */
        /* height: 60%; */
    }

    .slider-itemwidth-movement {
        transform: translateX(200px);
        /* need to do */
    }

    .image-slider {
        width: 892px;
    }


    /* Category Enhance your music component */
    .category-enhance-your-music {
        border: 2px solid red;
        max-width: 80%;
    }

    .category-enhance-your-music .category-left {
        border: 2px solid red;
        max-width: 30%;
        z-index: 1;
    }

    .category-enhance-your-music .category-right{
        border: 2px solid red;
        max-width: 60%;
    }

    .category-enhance-your-music .category-right img{
        /* border: 2px solid red; */
        max-width: 50%;
    }


    /* Bottom components */
    .bottom-components-div {
        border: 2px solid red;
        max-width: 80%;
        height: 220px;
    }

    .bottom-components-div .bottom-components {
        border: 2px solid red;
        max-width: 29%;
        text-align: center;
        min-height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }


    /* Footer */
    .footer {
        border: 2px solid red;
        max-width: 800px;
        background-color: black;
        display: flex;
        flex-direction: column;
        min-height: 500px;
        justify-content: center;
        align-items: center;
        max-width: 90%;
    }
    .footer-container{
        /* background-color: black; */
        min-height:700px;
    }

    .footer .footer-lower{
        width: 100%;
    }

}