@media (min-width: 1280px) and (max-width: 1340px) {
    .Flash-sales-slider {
        max-width: 1200px;
        margin-left: auto;
        overflow: hidden;
    }

    .Flash-sales-slider .slider {
        max-width: 1200px;
    }

    .Flash-sales-slider .slider .container {
        max-width: 1200px;
    }

    .center-slider {
        max-width: 1100px;
        overflow: hidden;
    }

    .center-slider .slider {
        max-width: 1100px;
    }

}




@media (min-width: 1170px) and (max-width: 1279px) {

    /* Top header */
    .top-header {
        max-width: 200px;
        margin-left: auto;
        margin-right: 3%;
    }

    .top-header-content{
        display: flex;
        width: 60%;
    }


    /* top slider */
    .top-slider {
        flex-direction: column;
        align-items: center;
    }


    /* side bar */
    .side-bar {
        flex-direction: column;
        width: 85%;
        max-height: 65px;
        overflow-x: auto;
        overflow-x: hidden;
    }

    .side-bar ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: anchor-center;
        gap: 0px 0px;
        overflow-x: auto;
        scrollbar-width: none;
        display: flex;
        display: -webkit-inline-box;
    }

    .side-bar ul .women-fashion-li {
        margin-top: auto;
    }


    .side-bar ul li img {
        display: none;
    }

    .side-bar ul li{
        border-radius: 19px;
        cursor: pointer;
        background-color: rgb(230, 230, 230);
        display: flex;
        justify-content: center;
        width: 18%;
        padding: 8px;
    }
    
    .side-bar ul li:hover {
        background-color: rgb(199, 199, 199);
        color: rgb(46, 46, 46);
    }

    .side-bar ul li a:hover {
        color: rgb(46, 46, 46);
    }


    /* flash sales slider */
    .Flash-sales-slider {
        max-width: 1050px;
        margin-left: auto;
        overflow: hidden;
    }

    .Flash-sales-slider .slider {
        max-width: 1050px;
    }

    .Flash-sales-slider .slider .container {
        max-width: 1080px;
    }


    /* center slider */
    .center-slider {
        max-width: 1000px;
        overflow: hidden;
    }

    .center-slider .slider {
        max-width: 1000px;
    }

    .products-container {
        max-width: 1000px;
    }

    .product-card {
        max-width: 225px;
    }

   
    .image-slider {
        width: 892px;
    }


    /* Category Enhance your music component */
    .category-enhance-your-music {
        max-width: 1000px;
    }

    .category-enhance-your-music .category-left {
        max-width: 380px;
        z-index: 1;
    }

    .category-enhance-your-music .category-right {
        max-width: 530px;
    }

}





@media (min-width: 850px) and (max-width: 1169px) {
    hr{
        max-width: 100%;
    }

    /* Top header */
    .top-header {
        max-width: 10%;
        margin-left: auto;
        margin-right: 3%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .top-header-content{
        display: flex;
        width: 70%;
        justify-content: center;
    }

    /* top slider */
    .top-slider {
        flex-direction: column;
        align-items: center;
    }


    .top-slider .slider{
        flex-direction: column;
        align-items: center;
        width: fit-content;
        width: 80%;
    }


    /* side bar */
    .side-bar {
        flex-direction: column;
        width: 85%;
        max-height: 65px;
        overflow-x: auto;
        overflow-x: hidden;
    }

    .side-bar ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: anchor-center;
        gap: 0px 0px;
        overflow-x: auto;
        scrollbar-width: none;
        display: flex;
        display: -webkit-inline-box;
    }

    .side-bar ul .women-fashion-li {
        width: 155px;
        margin-top: auto;
        padding: 8px;
    }


    .side-bar ul li img {
        display: none;
    }

    .side-bar ul li{
        border-radius: 19px;
        cursor: pointer;
        background-color: rgb(230, 230, 230);
        display: flex;
        justify-content: center;
        width: 18%;
        padding: 8px;
    }
    
    .side-bar ul li:hover {
        background-color: rgb(199, 199, 199);
        color: rgb(46, 46, 46);
    }
    .side-bar ul li a:hover {
        color: rgb(46, 46, 46);
    }


    /* flash sales slider */
    .Flash-sales-slider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .Flash-sales-slider .slider {
        max-width: 80%;
    }

    .Flash-sales-slider .slider .container {
        max-width: 100%;
    }


    /* center slider */
    .center-slider {
        width: 98vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .center-slider .slider {
        max-width: 80%;
    }

    .center-slider .slider .container {
        max-width: 100%;
    }

    .products-container {
        max-width: 80%;
    }

    .products-container .product-card{
        max-width: 100%;
    }

    .new-arrival-component{
        width: 80%;
    }

    .right-top-new-arrival-header{
        margin-right: 90%;
    }

    .product-card {
        max-width: 220px;
    }

    .slider-itemwidth-movement {
        transform: translateX(200px);
        /* need to do */
    }

    .image-slider {
        width: 892px;
    }


    /* Category Enhance your music component */
    .category-enhance-your-music {
        max-width: 80%;
    }

    .category-enhance-your-music .category-left {
        max-width: 30%;
        z-index: 1;
    }

    .category-enhance-your-music .category-right{
        max-width: 60%;
    }

    .category-enhance-your-music .category-right img{
        /* border: 2px solid red; */
        max-width: 50%;
    }

}



@media (min-width: 600px) and (max-width: 849px) {
    hr{
        max-width: 100%;
    }

    /* Top header */
    .top-header {
        max-width: 10%;
        margin-left: auto;
        margin-right: 3%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .top-header-content{
        display: flex;
        width: 70%;
        justify-content: center;
    }


    /* top slider */
    .top-slider {
        flex-direction: column;
        align-items: center;
        margin-bottom: -60px
    }

    .top-slider .slider{
        content-visibility: hidden;
    }

    /* side bar */
    .side-bar {
        flex-direction: column;
        width: 85%;
        max-height: 65px;
        overflow-x: auto;
        overflow-x: hidden;
    }

    .side-bar ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: anchor-center;
        gap: 0px 0px;
        overflow-x: auto;
        scrollbar-width: none;
        display: flex;
        display: -webkit-inline-box;
    }

    .side-bar ul .women-fashion-li {
        width: 155px;
        margin-top: auto;
        padding: 8px;
    }


    .side-bar ul li img {
        display: none;
    }

    .side-bar ul li{
        border-radius: 19px;
        cursor: pointer;
        background-color: rgb(230, 230, 230);
        display: flex;
        justify-content: center;
        width: 150px;
        padding: 8px;
    }
    
    .side-bar ul li:hover {
        background-color: rgb(199, 199, 199);
        color: rgb(46, 46, 46);
    }

    .side-bar ul li a:hover {
        color: rgb(46, 46, 46);
    }


    /* flash sales slider */
    .Flash-sales-slider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .Flash-sales-slider .slider {
        max-width: 90%;
    }

    .Flash-sales-slider .slider .container {
        max-width: 100%;
    }


    /* center slider */
    .center-slider {
        width: 98vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .center-slider .slider {
        max-width: 80%;
    }

    .center-slider .slider .container {
        max-width: 100%;
    }

    .products-container {
        max-width: 80%;
    }

    .product-card {
        max-width: 220px;
    }

    .slider-itemwidth-movement {
        transform: translateX(200px);
        /* need to do */
    }

    .image-slider {
        width: 892px;
    }


    /* Category Enhance your music component */
    .category-enhance-your-music {
        max-width: 80%;
    }

    .category-enhance-your-music .category-left {
        max-width: 30%;
        z-index: 1;
    }

    .category-enhance-your-music .category-right{
        max-width: 60%;
    }

    .category-enhance-your-music .category-right img{
        max-width: 50%;
    }

    .bottom-components-div{
        text-align: center;
        max-width: 80%;
    }

}





@media (min-width: 0px) and (max-width: 599px) {
    hr{
        max-width: 100%;
    }



    /* top slider */
    .top-slider {
        flex-direction: column;
        align-items: center;
        margin-bottom: -60px
    }


    .top-slider .slider{
        content-visibility: hidden;
    }


    /* side bar */
    .side-bar {
        flex-direction: column;
        width: 85%;
        max-height: 65px;
        overflow-x: auto;
        overflow-x: hidden;
    }

    .side-bar ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: anchor-center;
        gap: 0px 0px;
        overflow-x: auto;
        scrollbar-width: none;
        display: flex;
        display: -webkit-inline-box;
    }

    .side-bar ul .women-fashion-li {
        width: 155px;
        margin-top: auto;
        padding: 8px;
    }


    .side-bar ul li img {
        display: none;
    }

    .side-bar ul li{
        border-radius: 19px;
        cursor: pointer;
        background-color: rgb(230, 230, 230);
        display: flex;
        justify-content: center;
        width: 150px;
        padding: 8px;
    }
    
    .side-bar ul li:hover {
        background-color: rgb(199, 199, 199);
        color: rgb(46, 46, 46);
    }

    .side-bar ul li a:hover {
        color: rgb(46, 46, 46);
    }


    /* flash sales slider */
    .Flash-sales-slider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .Flash-sales-slider .slider {
        max-width: 90%;
    }

    .Flash-sales-slider .slider .container {
        max-width: 100%;
    }

    /* center slider */
    .center-slider {
        width: 98vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .center-slider .slider {
        max-width: 80%;
    }

    .center-slider .slider .container {
        max-width: 100%;
    }

    .products-container {
        max-width: 80%;
    }

    .product-card {
        max-width: 220px;
    }

    .slider-itemwidth-movement {
        transform: translateX(200px);
        /* need to do */
    }

    .image-slider {
        width: 892px;
    }


    /* Category Enhance your music component */
    .category-enhance-your-music {
        max-width: 80%;
    }

    .category-enhance-your-music .category-left {
        max-width: 30%;
        z-index: 1;
    }

    .category-enhance-your-music .category-right{
        max-width: 60%;
    }

    .category-enhance-your-music .category-right img{
        max-width: 50%;
    }

}