* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.slider {
    /* border: 2px solid red; */
    width: 892px;
    overflow: hidden;
}

.slider-inner {
    display: flex;
    transition: all 0.5s ease;
}

.item {
    /* border: 2px solid black; */
    width: calc(100% / 1);
    height: 344px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-sizing: border-box;
}

button {
    background-color: #ddd;
    border: none;
    padding: 1rem;
    cursor: pointer;
}